
body {
    background: #eeeeee;
    font-family: Arial;
}



.box {
    width: 300px;
    background: white;

    padding: 25px;
    margin: 100px auto;
    border: 3px solid black;
    border-radius: 10px;

    text-align: center;
}



img {
    width: 100px;
    border-radius: 50%;
}



h1 {
    color: blue;
}


p {
    color: #555;
}


li {
    text-align: left;
    background-color: antiquewhite;
    color: black;
}



button {
    background: black;
    color: white;

    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}